__pycache__/
ckpts
triposf/__pycache__/
triposf/models/__pycache__/
triposf/models/triposf_vae/__pycache__/
triposf/modules/__pycache__/
triposf/modules/attention/__pycache__/
triposf/modules/pointclouds/__pycache__/
triposf/modules/sparse/__pycache__/
triposf/modules/sparse/attention/__pycache__/
triposf/modules/sparse/conv/__pycache__/
triposf/modules/sparse/transformer/__pycache__/
triposf/modules/transformer/__pycache__/
triposf/representations/__pycache__/
triposf/representations/mesh/__pycache__/
triposf/representations/mesh/flexicubes/__pycache__/
vae
venv
.vs
outputs